/xml_generator/java/Service
/xml_generator/java/Models
/xml_generator/java/Controllers
/xml_generator/csharp/Models
/xml_generator/csharp/Controllers
/xml_generator/angular/services
/xml_generator/angular/models
/xml_generator/angular
static
/api/out/artifacts
esk_backend
.idea
/templates/reportESK.pdf
/templates/arhiv
/downloads
/working
api/src/main/resources/application.properties
/api/esk.log
/logging/spring.log
/logging
/api/src/main/resources/application.properties
/api/target
/.vs
